<!-- BLOCK WITH SEARCHBAR -->
<div class="container-fluid beta-test-gradiented">
  <div class="container">
    <div class="pres-home row">
      <p class="offset-6 col-6 text-right d-flex flex-column-reverse pres-title-1">Destination Paris-Saclay,</p>
      <p class="offset-6 col-6 text-right pres-title-2">laissez-vous guider</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-3 col-6">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div class="row">
    <div class="offset-4 col-4 popular-search">
      <p>
        Recherches populaires :
        <button class="btn popular-btn">Centrale Supélec</button>
        <button class="btn popular-btn">IUT</button>
        <button class="btn popular-btn">Danone</button>
        <button class="btn popular-btn">EDF Labs</button>
      </p>
    </div>
  </div>
</div>
<!-- BLOCK WITH PHONES SCREENS -->
<div class="container-fluid">
  <div class="row justify-content-center pt-3">
    <h2>Compagnon de mobilité</h2>
  </div>
  <div class="row justify-content-center">
    <h5>Toujours à portée de main</h5>
  </div>
  <div class="row justify-content-center">
    <img class="phone-screens" src="../../../../assets/images/pages-application-parkinsaclay.jpg" />
  </div>
</div>
<!-- BLOCK WHY PS -->
<div class="container-fluid why-container">
  <div class="row justify-content-center why-title">
    <h2>Pourquoi Park'In Saclay?</h2>
  </div>
  <div class="row justify-content-center">
    <h5>Un panel de services pour développer votre mobilité</h5>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-center">
      <img class="mb-3" src="../../../../assets/images/picto-mobilite.png" />
      <h3>Mobilité simplifié</h3>
      <p>Entrez votre destination, nous vous guidons jusq'à la place de stationnement disponible la plus proche.</p>
    </div>
    <div class="col-2 text-center">
      <img class="mb-3" src="../../../../assets/images/picto-billets.png" />
      <h3>Guichet unique</h3>
      <p>Toutes les places sont dans Park'In Saclay: en voirie, parkings publics et parkings privés.</p>
    </div>
    <div class="col-2 text-center">
      <img class="mb-3" src="../../../../assets/images/picto-fidelite.png" />
      <h3>Fidélité récompensée</h3>
      <p>Des points à gagner, facilement convertibles en cadeaux et avantages</p>
    </div>
  </div>
</div>

<!-- BLOCK 4 SQUARES -->
<div class="container-fluid square-container">
  <div class="row justify-content-center">
    <div class="col-2 square-1"></div>
    <div class="col-4 square-1 py-4">
      <h3 class="text-center">De nombreux services</h3>
      <img class="img-square" src="../../../../assets/images/picto-services.png" />
      <p>
        Nous regroupons pour vous tous les services de mobilité pour faciliter votre venue sur le campus urbain de Paris-Saclay. <br />
        Simplifier l'accès au stationnement n'est que le début du service Park'In Saclay.
      </p>
    </div>
    <div class="col-4 square-2 py-4">
      <h3 class="text-center">Une communauté unique</h3>
      <img class="img-square" src="../../../../assets/images/picto-localisation.png" />
      <p>Au travers de partenariats locaux, Park'In Saclay donne accès aux bons plans sur le campus.</p>
    </div>
    <div class="col-2 square-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 square-3"></div>
    <div class="col-4 square-3 py-4">
      <h3 class="text-center">Disponible sur tous les supports</h3>
      <img class="img-square" src="../../../../assets/images/picto-responsive-service.png" />
      <p>
        Vous pouvez accéder à votre service Park'In Saclay depuis n'importe quel appareil connecté à internet (ordinateur, tablette,
        téléphone). Nous vous accompagnons dans toutes vos mobilités.
      </p>
    </div>
    <div class="col-4 square-4 py-4">
      <h3 class="text-center">Une expérience intuitive</h3>
      <img class="img-square" src="../../../../assets/images/picto-intuitif.png" />
      <p>
        Le service Park'In Saclay sera constamment amélioré en prenant en compte vos suggestions et les nouveaux services qui émergeront du
        programme d'open innovation Park'In Saclay.
      </p>
    </div>
    <div class="col-2 square-4"></div>
  </div>
</div>
