/* You can add global styles to this file, and also import other style files */

// regular style toast 
@import '~ngx-toastr/toastr';

@import "~ngx-smart-modal/ngx-smart-modal";

/*
* Colour variables
*/
$titleColor: #2e4168;
$titleColorOnHover: rgba(46,65,104,0.8);


$PSColor1: #61AF81;
$PSColor2: #00e77b;
$PSColor3: #168acc;
$PSColor4: rgba(22,138,204,0.7);

$footerBackground : #2e4168;


/*
* Fonts variables
*/
$defaultFontFamily: 'Roboto-Light', Helvetica, serif;
$boldFontFamily: 'Roboto-Bold', Helvetica, serif;
$condensedFontFamily: 'RobotoCondensed-Regular', Helvetica, serif;
$normalFontFamily: 'Roboto-Normal', Helvetica, serif;
$lightFontFamily: 'Roboto-Light', Helvetica, serif;
$italicFontFamily : 'Roboto-Italic', Helvetica, serif;



h1, h2, h3{
    color: $titleColor;
    font-family: $defaultFontFamily;
    &:hover { 
        color:$titleColorOnHover; 
    }
}

h1 {
    font-size: 5em;
}
h2{
    font-size: 3em;
}

/*
* Parkings cards
*/
.card-header{
    background-color: $PSColor3;
    color: white;
}

#parkMaxCapacity{
    color:$PSColor1;
}

.btn{
    background-color: $PSColor3;
    color: white;
}

/*
* Parking modale
*/
.modal-sm {
    max-width: 520px;
}
.modal-md {
    max-width: 820px;
}
.modal-lg {
    max-width: 1120px;
}

.img-prk-modal{
    max-width: 500px;
}

